:root {
  --general-bg: #0d100f;
  --general-font: #cecfcc;
  --general-border: #4d646e;
  --card-bg: #232522;
  --card-header-bg: #7da3b3;
  --card-header-font: #151613;
  --link: #8be2e4;
  --link-visited: #436f70;
  --link-hover: #b6e3e4;
  --title: #a2bcc4;
  --subtitle: #79868a;
  --button-bg: #414340;
  --button-font: #a7a8a6;
  --input-bg: #373c3a;
  --input-font: #9fafa9;
}

:root {
  --color1: #636562;
  --color2: #8d8f8c;
  --color3: #515350;
  --color4: #777976;
  --color7: #313330;
  --color8: #232522;
  --color11: #030402;
  --color13: #677275;
  --color14: #212523;
  --color15: #566062;
  --color18: #484e4f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  background-color: var(--general-bg);
  color: var(--general-font);
}

body {
  position: relative;
  min-height: 100%;
}

img {
  display: block;
}

img.loading {
  width: 20px;
  margin: auto;
  display: block;
}

img.logo,
img.banner {
  max-width: 30%;
}

div.container {
  padding: 0.5%;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

div.centered {
  width: 60%;
}

img.centered {
  width: 80%;
}

h1.centered,
h2.centered,
h3.centered,
h4.centered,
h5.centered,
h6.centered,
p.centered {
  text-align: center;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title {
  color: var(--title);
}

h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle,
h6.subtitle,
p.subtitle {
  color: var(--subtitle);
}

div.card {
  border: 1px;
  border-style: solid;
  border-color: var(--general-border);
  background-color: var(--card-bg);
  margin-left: 1%;
}

div.card > .card-header {
  background-color: var(--card-header-bg);
  color: var(--card-header-font);
  padding-left: 1%;
}

div.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.columns > .col {
  flex: 1;
  min-width: 33%;
}

div.columns > .col-1 {
  flex: 1;
  min-width: 20%;
}

div.columns > .col-4 {
  flex: 1;
  min-width: 80%;
}

div.col.board-list {
  max-width: 33%;
}

ul {
  padding-left: 3%;
}

ul.no-style {
  padding-left: 2%;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--link);
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
}

.form {
  max-width: 50%;
}

.form .form-group {
  margin: 0.2rem 0;
  display: block;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.2rem;
  font-size: 1rem;
  background-color: var(--input-bg);
  color: var(--input-font);
  border: none;
}

.form textarea {
  resize: vertical;
}

.form input[type='submit'],
button {
  font: inherit;
}

.btn {
  display: block;
  background-color: var(--button-bg);
  color: var(--button-font);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  width: 100%;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 700px) {
  div.centered {
    width: 80%;
  }

  img.logo,
  img.banner {
    max-width: 60%;
  }

  div.columns {
    display: block;
  }

  div.columns > .col {
    margin-bottom: 2%;
  }

  .form {
    max-width: 100%;
  }
}
