* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
    Verdana, sans-serif;
  font-size: 0.9rem;
  background-color: #0d100f;
  color: #cecfcc;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
}
